@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  font-family: 'Open Sans', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

a.disabled, a[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #333;
  background-color: #E6E6E6;
  :hover {
    text-decoration:none;
  }
}

.page-header.test-header {
  padding-left: 10px;
}

.page-header.test-header-passed {
  border-left: 5px solid @brand-success;
}

.page-header.test-header-failed {
  border-left: 5px solid @brand-danger;
}

ul.test-commands {
  padding: 0;
  li {
    list-style-type: none;
  }

  li.test-command {
    border: 1px solid @gray-lighter;
    margin-bottom:10px;
    padding:10px;
    overflow:hidden;
  }

  .screenshot-area {
    display: none;
    border: 1px solid @gray;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  }
}

.command-request p:first-child {
  font-size:20px;
}

.command-response {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.screenshot-content {
  position: relative;
}

.screenshot-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 30px;
  color: @brand-info;
}