extends ../layout

block content
  .page-header
    h3 Tests

    if user
      table(class='table')
        thead
          tr
            th Name
            th Results
            th Environment
            th End
            th Session ID
        if tests.length
          tbody
            each test in tests
              tr
                td
                  span 
                    a(href='tests/#{test.sessionId}') #{test.name}
                td
                  span(class='label label-#{test.passed ? "success" : "danger"}') #{test.passed ? 'Passed' : 'Failed'}
                td 
                  span
                    i(class='fa fa-#{test.platform}') 
                  span
                    i(class='fa fa-#{test.browserName}') 
                  span #{test.version}
                td
                  span #{moment(test.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
                td
                  span #{test.sessionId}
        else
          tbody
            tr
              td
                span No tests here yet